{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": 74
                }
            }
        ],
        
        "@babel/preset-react"
    ]
}